# macOS
.DS_Store

# Dart / Pub
.dart_tool/
.packages
.pub/
pubspec.lock
pubspec_overrides.yaml
build/
doc/api/

# Coverage
coverage/

# IDEs
.idea/
.vscode/

# Logs
*.log

# Allure output
allure-results/
allure-report/
